<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first three.js app</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <a href="/threeD.html" style="color: gold; font-size: 2rem;">3d home</a>
    <main class="content-grid">
        <!-- <div id="inner"> -->
        <a href="#" id="close">Close</a>
        <!-- <div class="container"> -->
        <h1>Lorem ipsum dolor sit amet.</h1>
        <section class="breakout" style="font-weight: 800; background-color: lightsalmon;">
            asperiores repellat tenetur molestiae ut nemo, minima voluptate culpa libero, ab praesentium! Eius
            repellendus exercitationem quae dolor modi inventore asperiores voluptates laudantium numquam
            mollitia,
            tempore quibusdam deleniti incidunt voluptas aut consequuntur praesentium voluptate placeat quos
            rerum
            id reprehenderit. Error iusto quaerat nobis non, aspernatur illo quia in odio alias odit, magni esse
            illum est dolorum voluptas ratione nostrum vel, numquam aut vero. Adipisci est unde, illum ab
            sapiente
            s consequuntur voluptate animi consectetur aperiam, eaque
            iure
            repudiandae? Nostrum animi nulla enim neque, qui expedita veniam numquam porro ex delectus eligendi
            vitae dolores et eos. Nihil expedita ducimus cupiditate autem aliquid quaerat sed nesciunt possimus
            ipsam, dolores adipisci ipsum velit eos inventore dolor consectetur at quam enim illum commodi.
            Quaerat
            ad, error vitae accusamus voluptate illum sed id culpa minus voluptas debitis modi quis, tempore

            dignissimos odit, eum harum ratione similique minus quibusdam reprehenderit. Libero accusantium quod
            fugiat quaerat reprehenderit assumenda voluptate ipsum dolore rerum odit, placeat, possimus itaque
            minima mollitia laboriosam repellendus voluptatem quo. Eum fugit sapiente eligendi eius distinctio
            ullam
            dignissimos repellat ducimus, officia voluptas similique repudiandae hic eveniet explicabo,
            voluptatum
            earum atque qui id? Ipsum possimus laborum consectetur sunt labore modi perferendis deleniti
            pariatur
            quaerat sint perspiciatis sapiente unde vel asperiores nobis, soluta voluptatem dignissimos aut ut
            nulla
        </section>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p class="full-width" style="background-color: red; color: white;">
            <span> Lorem ipsum dolor sit
                amet
                consectetur adipisicing
                elit. Facilis possimus, numquam culpa sit sint,
                eligendi nisi ad laboriosam deserunt ab tempore error quod. Obcaecati inventore odit magni molestias
                nisi laboriosam totam voluptas unde quibusdam nobis vitae saepe libero quisquam hic consequuntur
                quasi
                recusandae labore, repellendus ipsa rerum quidem quaerat. Impedit dolorum amet repellat labore
                voluptates quam repudiandae eligendi porro corporis autem, dolore et laboriosam vel consequatur
                soluta
                vero similique ex doloribus molestias velit voluptatibus pariatur ab nesciunt eos. Rem quidem ipsum
                ptas dolorem repellendus incidunt cum facilis quo esse praesentium, commodi
                officiis.
                Eum suscipit, voluptatibus sunt quibusdam nihil laborum assumenda vitae totam beatae deleniti
                aliquid
                obcaecati!</span>
        </p>
        <div class="wrapImg full-width">
            <img src="./pexels-cami-18809466.jpg" alt="...full width...">
        </div>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eum dolorum numquam aut quod earum
            accusantium libero unde fugiat, non quas in quo adipisci quam voluptas alias quibusdam ipsam natus.
        </p>
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div id="outer"> -->
        <a href="#" id="open">Close</a>
        <!-- <div class="container"> -->
        <h1>Lorem ipsum dolor sit amet.</h1>
        <section class="breakout" style="font-weight: 800; background-color: lightsalmon;">
            asperiores repellat tenetur molestiae ut nemo, minima voluptate culpa libero, ab praesentium! Eius
            repellendus exercitationem quae dolor modi inventore asperiores voluptates laudantium numquam
            mollitia,
            tempore quibusdam deleniti incidunt voluptas aut consequuntur praesentium voluptate placeat quos
            rerum
            id reprehenderit. Error iusto quaerat nobis non, aspernatur illo quia in odio alias odit, magni esse

            beatae dicta itaque maiores consequuntur. Voluptas eveniet facere deleniti culpa reiciendis rerum
            temporibus dignissimos quod nisi, doloremque aliquam tenetur illum quos obcaecati odio sit eum
            sapiente.
            Est a sed magni provident, illo distinctio ullam dolores laborum eos inventore consectetur autem
            quia
            officiis porro. Ipsa nulla, sit fugit dolores iure aut at id. Itaque vero maxime amet repudiandae,
            recusandae nostrum sapiente quos voluptatem illum sint modi dolorum provident officiis numquam
            minima
            hic autem. Tenetur ab, laudantium sapiente quas voluptatibus accusamus eveniet sunt fuga quo sint
            quos,
            dignissimos odit, eum harum ratione similique minus quibusdam reprehenderit. Libero accusantium quod
            fugiat quaerat reprehenderit assumenda voluptate ipsum dolore rerum odit, placeat, possimus itaque
            minima mollitia laboriosam repellendus voluptatem quo. Eum fugit sapiente eligendi eius distinctio
            ullam
            dignissimos repellat ducimus, officia voluptas similique repudiandae hic eveniet explicabo,
            voluptatum
            earum atque qui id? Ipsum possimus laborum consectetur sunt labore modi perferendis deleniti
            pariatur
            quaerat sint perspiciatis sapiente unde vel asperiores nobis, soluta voluptatem dignissimos aut ut
            nulla
        </section>
        <section class="full-width"
            style="background: url(./pexels-alina-chernii-18932322.jpg) no-repeat center center/cover fixed;">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis possimus, numquam culpa sit sint,
                eligendi nisi ad laboriosam deserunt ab tempore error quod. Obcaecati inventore odit magni molestias
                nisi laboriosam totam voluptas unde quibusdam nobis vitae saepe libero quisquam hic consequuntur
                quasi
                recusandae labore, repellendus ipsa rerum quidem quaerat. Impedit dolorum amet repellat labore
                voluptates quam repudiandae eligendi porro corporis autem, dolore et laboriosam vel consequatur
                soluta
                vero similique ex doloribus molestias velit voluptatibus pariatur ab nesciunt eos. Rem quidem ipsum
                reprehenderit quaerat dolor nam laborum commodi quas. Expedita, illum nulla aperiam, eos assumenda
                placeat deserunt unde quo aspernatur libero provident impedit exercitationem. Quibusdam dolorum nemo
                t excepturi nihil facere vero mollitia accusantium rerum ipsum
                sequi laboriosam doloremque ipsam ad neque tempora. Tempore sapiente placeat est provident
                necessitatibus accusantium similique quia voluptatibus, repudiandae neque unde saepe iusto atque
                ipsam,
                nostrum earum quae temporibus. Dolores et quod quibusdam, iusto ad incidunt hic inventore obcaecati,
                repellat ipsam repellendus maxime fugiat, sint nihil velit ab harum omnis cumque sequi voluptates
                nobis
                error. Eum earum est consequatur error minima quod assumenda autem necessitatibus amet nulla optio
                impedit explicabo cupiditate repellat omnis deleniti facere tenetur possimus, molestiae minus? Eaque
                ut
                maiores magni deserunt quia, quae soluta, assumenda impedit delectus nihil earum aut ipsa qui et
                dolorem
                aperiam? Architecto esse consequuntur ab maxime eius quidem atque quasi aliquid voluptate provident,
                dolor ipsum quisquam incidunt odio voluptates aliquam a rem neque culpa? Explicabo quos ducimus
                molestiae, magni possimus maxime expedita eos reiciendis, fuga repellat omnis aliquid. Laboriosam
                minima
                assumenda debitis veniam est, blanditiis aliquam obcaecati placeat a dicta consequatur, ipsam
                sapiente
                autem exercitationem vel illum necessitatibus recusandae, explicabo ratione quaerat vero beatae
                quasi
                officiis. Quis voluptas dolorem repellendus incidunt cum facilis quo esse praesentium, commodi
                officiis.
                Eum suscipit, voluptatibus sunt quibusdam nihil laborum assumenda vitae totam beatae deleniti
                aliquid
                error vero eos possimus doloribus saepe eligendi commodi nisi ad voluptatum repellat perspiciatis
                iure.
                Veniam, vel nulla itaque recusandae architecto asperiores totam assumenda, et accusamus dolore est
                veritatis, dolores voluptate eius deserunt corrupti sit adipisci esse nisi deleniti nam mollitia qui
                ducimus. Tenetur quo dicta alias veniam necessitatibus illo pariatur hic est, perspiciatis
                aspernatur
                quis consectetur enim sit autem, quas eveniet provident sed laborum nemo inventore iure soluta,
                ratione
                nobis ex? Suscipit sequi at animi beatae unde magnam adipisci perferendis, voluptatibus veniam nobis
                error placeat laborum aliquam eveniet excepturi recusandae molestias aperiam quam explicabo! Eius
                maxime
                quaerat quos aperiam dignissimos architecto molestiae dolor nemo ipsum a. Id, qui. Saepe eius nobis
                iure
                voluptatum rem sapiente magni rerum vero illum quidem aut provident neque dolor alias dignissimos
                iste
                aperiam, sint delectus temporibus enim deserunt quas esse dolorum? Alias autem dolore ducimus
                voluptatum
                ad perferendis quis exercitationem quaerat enim officiis reprehenderit voluptates quas aspernatur
                officia impedit temporibus ut, unde at. Incidunt nulla similique cupiditate! Sunt quod perspiciatis
                adipisci, ex necessitatibus similique ducimus magnam labore odit distinctio, vero atque nemo
                voluptates
                minus ipsa dolores, aspernatur voluptatem enim cumque nobis provident saepe doloribus? Amet maiores
                reiciendis tempore accusamus itaque eveniet obcaecati, natus modi nemo cumque assumenda pariatur qui
                laborum suscipit. Numquam facere officiis consequatur sapiente blanditiis magni minus labore
                deleniti
                obcaecati!</p>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eum dolorum numquam aut quod earum
                accusantium libero unde fugiat, non quas in quo adipisci quam voluptas alias quibusdam ipsam natus.
            </p>
        </section>
        <!-- </div> -->
        <!-- </div> -->
    </main>
    <script>
        document.querySelector('#close').addEventListener('click', () => {
            document.querySelector('#outer').classList.toggle("active")
        })
        document.querySelector('#open').addEventListener('click', () => {
            document.querySelector('#outer').classList.toggle("active")
        })
    </script>
    <script type="module" src="/index.js"></script>
</body>

</html>