@keyframes anim1 {
    from {
        background-color: brown;
    }

    to {
        background-color: burlywood;
    }
}

@keyframes anim2 {
    from {
        background-color: burlywood;
    }

    to {
        background-color: brown;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
    text-align: justify;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: fit-content;
    background: url(./pexels-eddson-lens-18684565.jpg) no-repeat center center/cover fixed;
}

.content-grid,
.full-width {
    --padding-inline: 1rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
            var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];

    &> :not(.breakout, .full-width) {
        grid-column: content;
    }

    &>.breakout {
        grid-column: breakout;
    }

    &>.full-width:not(.full-width>.full-width) {
        grid-column: full-width;
    }
}

.wrapImg {
    img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
}

// .container {
//     width: 90%;
//     margin: auto;
// }
// main>div {
//     background-color: burlywood;
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     &>.container {
//         height: 100%;
//         overflow-y: auto;
//         padding: 3rem 0;
//         &::-webkit-scrollbar {
//             display: none;
//         }
//         &>p {
//             text-align: justify;
//         }
//     }
//     &>a {
//         position: absolute;
//         top: 2rem;
//         right: 5%;
//         text-decoration: none;
//         color: rgb(71, 36, 36);
//         font-weight: 900;
//         text-transform: uppercase;
//     }
//     &+div {
//         background-color: brown;
//         border-radius: 50px 50px 0 0;
//         z-index: 1;
//     }
//     &.active {
//         top: 100vh;
//     }
// }